.toplinks { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 
bold; text-decoration: none; color: #FFFFFF} .toplinks:hover {color: #FFFF00; 
text-decoration: underline}.bdy { font-family: Arial, Helvetica, sans-serif; font-size: 
13px; color: #000000} .bighd { font-family: Arial, Helvetica, sans-serif; font-size: 
32px; font-weight: bold; color: #000000} .copysml { font-family: Arial, Helvetica, 
sans-serif; font-size: 10px; color: #000000} .bdywhite { font-family: Arial, Helvetica, 
sans-serif; font-size: 13px; color: #FFFFFF; text-decoration: none} .bdywhite:hover 
{ color:#FFFF00}.whitemenu { font-family: Arial, Helvetica, sans-serif; font-size: 
13px; color: #000000; background-color: #FFFFFF} .medhd { font-family: Arial, 
Helvetica, sans-serif; font-size: 24px; color: #000000 } .smlhd { font-family: 
Arial, Helvetica, sans-serif; font-size: 16px; color: #000000 ; font-weight: bold} 
.tblsml { font-family: Arial, Helvetica, sans-serif; font-size: 4px; color: #000000 
} .bdylinks { font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-decoration: 
none; color: #0000FF} .bdylinks:hover {color: #CC3333; text-decoration: underline}